<div id="tableContainer">
    <table id="mainTable">
        <tr>
            <th *ngFor="let title of headerTitles"> {{title}} </th>
        </tr>
        <tr *ngFor="let p of people" class="tableLine">
            <td> {{ p.nome }} </td>
            <td> {{ ponctuateCPF(p.cpf) }} </td>
            <td> {{ displayBirth(p.nascimento) }} </td>
            <td> {{ p.email }} </td>
            <delete-button (click)="delPerson(parseN(p.id))"/>
            <edit-button (click)="callEditPerson(parseN(p.id))"></edit-button>
        </tr>
    </table>

</div>
