<div class="mainBox">
    <div id="searchTable">
        <div id="searchingField">
            <form>
                <label for="search"></label>
                <input pInputText type="text" id="search" name="fsearch" placeholder="Digite o nome da pessoa" (input)="attSearch()" [(ngModel)]="search">
                
                <button pButton type="button" id="createPerson" class="p-button-help createButton" (click)="openRegister()" label="✚ Registrar">{{""}}</button>
                
            </form>
        </div>
        <app-data-table (edit)="openEditor($event)" [people]="people"/>
    </div>
    @if(mode!=""){
        <div id="registerPerson">
            @if(mode=="registering"){
                <h1>Registre a pessoa</h1>
                <h2>Digite as informações</h2>
            }
            @if(mode=="editing"){
                <h1>Edite os dados</h1>
                <h2>{{displayEditing()}}</h2>
            }
            
            <input pInputText ="text" name="fname" placeholder="Nome" [(ngModel)]="pessoaCadastrada.nome">
            <input pInputText type="text" name="fcpf" placeholder="CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" [(ngModel)]="pessoaCadastrada.cpf">
            <input pInputText type="date" name="fbirth" placeholder="Data de Nascimento" [(ngModel)]="pessoaCadastrada.nascimento">
            <input pInputText type="text" name="fmail" placeholder="E-mail" [(ngModel)]="pessoaCadastrada.email">
            
            @if(mode=="registering"){<button pButton
            type="submit" (click)="addPerson()" class="p-button-success" label="➜">Registrar</button>} 
            @if(mode=="editing"){<button pButton
            type="submit" (click)="editPerson()" class="p-button-primary" label="➜">Atualizar Dados</button>}  
        </div>
    }
    

</div>
        