div.mainBox{
    
    border-radius: 5px;
    width: 100%;
    height: 97.5dvh;

    display: flex;
}
div.mainBox > div:nth-child(2) { flex: 1; }

div#searchTable{
    background-color: #333;
}

div#registerPerson{
    background-color: #444;
    width: 30%;
    height: 100%;

    margin-left: 4px;
    top: 0px;
    right: 0px; 
}

div#registerPerson h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: aliceblue;
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;    
}

div#registerPerson h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13pt;
    text-align: center;
    height: 20px;
    line-height: 10px;   
}

div#registerPerson input{
    height: 20px;
    width: 90%;
    margin: auto;
}