div.mainBox{
    
    border-radius: 5px;
    width: 100%;
    height: 97.5dvh;

    display: flex;
}
div.mainBox > div:nth-child(2) { flex: 1; }

div#searchTable{
    background-color: #333;
}

div#registerPerson{
    background-color: #444;
    width: 30%;
    height: 100%;
    justify-content: center;
    
    margin-left: 4px;
    top: 0px;
    right: 0px; 
}

div#registerPerson h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: aliceblue;
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;    
}

div#registerPerson h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13pt;
    text-align: center;
    height: 20px;
    line-height: 10px; 
    color: white;  
}

div#registerPerson input{
    height: 20px;
    width: 80%;
    height: 10dvh;
    margin: auto;
    display: flex;
    margin-top: 5dvh;
    padding: 2dvh;
}

div#registerPerson p-button{
    display: flex;
    width: 100%;
    height: 10dvh;
    margin-top: 10dvh;

    margin: auto;
    display: flex;
}

.registerButton{
    width: 200px;

    text-align: center;
}

.p-button-primary{
    display: flex;
    width: 50%;
    height: 10dvh;
    
    font-weight: bolder;
    text-align: right;

    top: 5dvh;

    margin: auto;
    display: flex;
}
.p-button-success{
    display: flex;
    width: 50%;
    height: 10dvh;
    
    font-weight: bolder;
    text-align: right;

    top: 5dvh;

    margin: auto;
    display: flex;
}

input#search{
    width: 83dvh;
    margin-left: 20dvh;
    margin-top: 7dvh;
}

.createButton{
    line-height: 2.75dvh;
    text-align: left;
    margin-left: 2dvh;
    padding: -10px;

    font-weight: bolder;
    text-align: center;

}
